<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	<!-- Styling -->
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	@Styles.Render("~/Content/Materialize/css/materialize.min.css")
	@Styles.Render("~/Content/Site.css")

	@Scripts.Render("~/bundles/modernizr")
	<!-- Indique au browser que le site est optimisé pour un affichage sur mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<!-- Menu de navigation -->
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">SimCity</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
				<li><a href="#">Another Navbar Link</a></li>
			</ul>

		</div>
	</nav>
<!-- Fin menu de navigation -->

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			@RenderBody()
		</div>
	</div>

	
	<footer class="page-footer blue">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; @System.DateTime.Now.Year - Nyssen Simon &nbsp; Design by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/materialize/materialize.min.js")
	@Scripts.Render("~/Scripts/init.js")
	@RenderSection("scripts", required: false)
</body>
</html>
