@model Blog_final_Asp.Areas.Account.ViewModels.LoginViewModel
@{
	ViewBag.Title = "Signin";
}


@if (Model.Authenticated)
{
	<h3>
		Vous êtes déjà authentifié avec le login :
		@Model.User.Login
	</h3>
	<p style="font-size:small;">Si vous avez été redirigé vers cette page-ci, il est probable que vous ne disposiez pas des droits à l'accès au contenu demandé.</p>
	<br />
	@Html.ActionLink("Voulez-vous vous déconnecter ?", "Disconnect")
}
else
{
	<h2>
		Veuillez vous authentifier :
	</h2>
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			@Html.LabelFor(model => model.User.Login)
			@Html.TextBoxFor(model => model.User.Login)
			@Html.ValidationMessageFor(model => model.User.Login, "", new { @class = "red-text text-accent-4" })
		</div>
		<div>
			@Html.LabelFor(model => model.User.Password)
			@Html.PasswordFor(model => model.User.Password)
			@Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "red-text text-accent-4" })
		</div>
		<button class="btn waves-effect waves-light light-blue" type="submit" name="action">
			Confirmer
			<i class="material-icons right">send</i>
		</button>
		<br />
		<br />
		@Html.ActionLink("Besoin d'un compte ?", "Registration")
	}
}