@model Blog_final_Asp.ViewModels.PostIndexViewModel
@{
	ViewBag.Title = "Nouveau billet";
}

<h2>Ajouter un nouveau billet</h2>

<form method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()

	<div>
		@Html.LabelFor(model => model.Title)
		@Html.TextBoxFor(model => model.Title)
		@Html.ValidationMessageFor(model => model.Title, "", new { @class = "red-text text-accent-4" })
	</div>
	<div class="input-field">
		@Html.LabelFor(model => model.Body)
		@Html.TextAreaFor(model => model.Body, new { @class = "materialize-textarea" })
		@Html.ValidationMessageFor(model => model.Body, "", new { @class = "red-text text-accent-4" })
	</div>
	<div class="btn waves-effect waves-light light-blue " style="display:none">
		@Html.LabelFor(model => model.Picture, new { @class = "white-text" })
		@Html.TextBoxFor(model => model.Picture, new { type = "file" })
		@Html.ValidationMessageFor(model => model.Picture, "", new { @class = "red-text text-accent-4" })
	</div>
	<br />
	<br />
	<button class="btn waves-effect waves-light light-blue" type="submit" name="action">
		Confirmer
		<i class="material-icons right">send</i>
	</button>
</form>