
@{
    ViewBag.Title = "Accueil";
}
<br />
<br />
<h2>Espace d'administration</h2>
<h3>Tables de la base de données</h3>
<ul>
	<li>@Html.ActionLink("Access_lvl", "Index", "Access_lvl")</li>
	<li>@Html.ActionLink("Autors", "Index", "Autors")</li>
	<li>@Html.ActionLink("Comments", "Index", "Comments")</li>
	<li>@Html.ActionLink("Posts", "Index", "Posts")</li>
	<li>@Html.ActionLink("Users", "Index", "Users")</li>
</ul>